@model ArticleVM
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>@Model.Headline</h4>
                </div>
                <div class="card-body">
                    <span style="font-size: 0.7rem;">Author : <b>@Model.Author.FirstName @Model.Author.LastName</b></span>
                    <br/>
                    <span style="font-size: 0.7rem;">Creation Date : <b>@Model.CreationDate</b>, Update Date : <b>@Model.UpdateDate</b>, Readeable Time : <b>@Model.ReadableTime minutes</b></span>
                    <hr/>
                    <p>@Model.Content</p>
                    <hr/>
                    <small>Hashtags: @Model.HashtagString</small>
                </div>
            </div>
        </div>
    </div>
</div>