@model List<ArticleVM>

@{
    ViewData["Title"] = "Articles";
}
<h1>Articles</h1>
<table class="table">
    <thead>
        <tr>
            <th>Headline</th>
            <th>ReadableTime</th>
            <th>Hashtags</th>
            <th>Actions</th>
        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a asp-route-id="@item.Id" asp-action="Update" asp-controller="Article" asp-area="Blog">@Html.DisplayFor(modelItem => item.Headline)</a></td>
                <td>@Html.DisplayFor(modelItem => item.ReadableTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Hashtags)</td>
                <td>
                    <a asp-route-id="@item.Id" asp-action="Update" asp-controller="Article" asp-area="Blog" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                    <a asp-route-id="@item.Id" asp-action="Delete" asp-controller="Article" asp-area="Blog" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>

        }
    </tbody>
</table>